<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |p| %>
  <div>
    <h2><%= link_to p.title, portfolio_path(p) %></h2>
    <p><%= p.subtitle %></p>
    <p><%= p.body %></p>
    <p><%= image_tag p.main_image unless p.main_image.nil? %></p>
  </div>
  <%= link_to "Edit Portfolio Item", edit_portfolio_path(p) %>
  <hr>
<% end %>
